
@font-face {
    font-family: 'arquifonte01';
    src: url("../assets/fonts/arquifonte01.woff2");
}

@font-face {
    font-family: 'arquifonte02';
    src: url("../assets/fonts/arquifonte02.woff2");
}

@font-face {
    font-family: 'arquifonte03';
    src: url("../assets/fonts/arquifonte03.woff2");
}

@font-face {
    font-family: 'arquifonte04';
    src: url("../assets/fonts/arquifonte04.woff2");
}

@font-face {
    font-family: 'arquifonte05';
    src: url("../assets/fonts/arquifonte05.woff2");
}

